body {
    background-color: #111111;
    color: #ffffff;
    font-family: Helvetica Neue, sans-serif;
    height: 100vh;
    text-align: center;
    font-size: 64px;
}

button {
    height: 32px;
    margin: 12px;
    font-size: 22px;
}